@import "config";

body {
  .key {
    list-style: none;

    .diamond {
      color: $secondary;
      padding-right: 10px;
    }
  }

  #heading {
    color: $primary;
    font-size: 2rem;
  }
}

// Hero section
.hero {
  height: 90vh;
  img {
    width: 40rem;
  }

  a {
    text-decoration: none;
  }

  .job-link {
    color: $primary;
  }
}

// About section

.about {
  height: 100%;
  .area-1 {
    border-right: 2px solid $third-color;
    img {
      width: 300px;
    }
  }

  hr {
    color: $primary;
  }
}

// Experience section

.experience {
  .job-desc {
    list-style: square;
  }

  .job-divider {
    width: 40%;
  }
}

// Contact

.contact {
  svg {
    width: 400px;
    padding-right: 50px;
  }
  img {
    width: 300px;
  }

  ul {
    list-style: none;
  }

  .link {
    @include centerIt;
    display: flex;
    flex-direction: row;
    i {
      padding-right: 20px;
    }

    .icon1 {
      color: rgb(177, 68, 180);
    }
    .icon2 {
      color: rgb(224, 29, 29);
    }
    .icon3 {
      color: rgb(68, 68, 216);
    }
  }

  a {
    color: black;
    text-decoration: none;

    &:hover {
      color: rgb(86, 142, 86);
      // color: rgb(210, 55, 55);
      cursor: pointer;
    }
  }
}

// Footer

footer {
  // background-color:;
  color: $third-color;

  .icon2 {
    color: rgb(68, 68, 216);
  }

  a {
    color: $secondary;
    text-decoration: none;

    &:hover {
      color: rgb(86, 142, 86);
      cursor: pointer;
    }
  }
}

@import "responsive";
