@import "config";

body {
  .key {
    list-style: none;

    .diamond {
      color: $secondary;
      padding-right: 10px;
    }
  }

  #heading {
    color: $primary;
  }
}

// Hero section
.hero {
  height: 90vh;
  img {
    width: 40rem;
  }

  a {
    text-decoration: none;
  }

  .job-link {
    color: $primary;
  }
}

// About section

.about {
  height: 100%;
  .area-1 {
    border-right: 2px solid $third-color;
    img {
      width: 300px;
    }
  }

  hr {
    color: $primary;
  }
}

// Experience section

.experience {
  .job-desc {
    list-style: square;
  }

  .job-divider {
    width: 40%;
  }
}

// Contact

.contact {
  img {
    width: 300px;
  }

  ul {
    list-style: none;
  }

  .link {
    display: flex;
    flex-direction: row;
    i {
      padding-right: 20px;
      color: $secondary;
    }
  }

  a {
    color: $third-color;
    text-decoration: none;

    &:hover {
      color: rgb(86, 142, 86);
      cursor: pointer;
    }
  }
}

// Footer

footer {
  // background-color:;
  color: $third-color;
  a {
    color: $secondary;
    text-decoration: none;

    &:hover {
      color: rgb(86, 142, 86);
      cursor: pointer;
    }
  }
}

@import "responsive";
